body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
    
}

#myCarousel img{
    height: 300px;
    margin-top: 35px;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 39px;
    font-variant: small-caps;
}
